footer{
   @include flex(space-between, center, row);
   min-height: 10vh;
   width: 95%;
   margin: 0 auto;
   flex-wrap: wrap;
   color: #d3d3d3;
   background: $background-color;
   ul{
      @include flex(space-around, center, row);
      flex: 1 1 10rem;
      width: 100%;
   }
   h4{
      @include flex(flex-start, center, row);
      flex: 3 1 10rem;
      font-weight: 300;
   }
   a{
      cursor: pointer;
      svg:hover{
         fill: $gradient2;
      }
   }
}